<div class="container">
    
    <fieldset>
      
      {{outlet}}
      
    </fieldset>
    
    <nav>
      <ul>
        <li>{{#link-to "inventory"}}LIST{{/link-to}}</li>
        <li>{{#link-to "pickup"}}ADD{{/link-to}}</li>
      </ul>
    </nav>
    

</div>